{% extends 'base.html' %} {% block content %}
<h1>locations</h1>
<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
      <th>opening hours</th>
      <th>restaurant</th>
    </tr>
  </thead>
  <tbody>
    {% for loacation in locations %}
    <tr>
      <td>{{ location.id }}</td>
      <td>{{ location.name }}</td>
      <td>
        {{ location.street }} {{ location.house_number }} {{ location.city }}
      </td>
      <td>{{ location.email }}</td>
      <td>{{ location.phone_number }}</td>
      <td>{{ location.opening_hours }}</td>
      <td>{{ location.restaurant_id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
